.link-satyam1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 4.4px;
  line-height: 37.4px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: inherit;
  white-space: nowrap;
}
.link-satyam-pharmacy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  text-align: left;
}
.navigation-list5 {
  width: 45.2px;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 25.5px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--color-black);
  min-width: 45.2px;
}
.navigation-list5,
.navigation-list6,
.navigation-list7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.navigation-list6 {
  width: 50.9px;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 25.5px;
  text-transform: uppercase;
  font-weight: 300;
  min-width: 50.9px;
}
.navigation-list7 {
  width: 53.6px;
  min-width: 53.6px;
}
.navigation-list7,
.navigation-list8,
.navigation-list9 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 25.5px;
  text-transform: uppercase;
  font-weight: 300;
}
.navigation-list8 {
  width: 72.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 72.2px;
}
.navigation-list9 {
  align-self: stretch;
  display: inline-block;
  min-width: 113.8px;
}
.navigation-list-item-lin1 {
  height: 2px;
  flex: 1;
  position: relative;
  background-color: var(--color-black);
}
.navigation-item-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 2.5999999999999996px;
}
.login-sign-up-link {
  width: 113.8px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20.200000000000728px;
}
.input-email,
.input-password,
.login-sign-up-link {
  display: flex;
  align-items: flex-start;
}
.input-email {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input-password {
  width: 487.2px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 17.299999999999983px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
}
.link-icon2,
.link-icon3 {
  height: 16px;
  width: 14.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-icon3 {
  width: 16px;
  position: absolute;
  margin: 0 !important;
  bottom: -8px;
  left: -13px;
}
.instagram-list-item {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  min-width: 7.4px;
}
.link5 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumturquoise-100);
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 6.399999999999977px;
  z-index: 1;
}
.header-login,
.link-store,
.link5 {
  display: flex;
  align-items: flex-start;
}
.link-store {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.header-login {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.divbglight {
  height: 28px;
  width: 76.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 41.5px;
  font-size: var(--font-size-xs);
}
.frame-parent7,
.link-home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent7 {
  width: 1115px;
  justify-content: space-between;
  flex-shrink: 0;
  debug_commit: 2554057;
}
.link-home {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
  box-sizing: border-box;
  max-width: 100%;
}
.span3 {
  color: var(--color-lightslategray);
}
.link-home-container1 {
  width: 100%;
}
.header-social-media,
.link-home-container {
  position: relative;
  line-height: 27.2px;
  font-weight: 300;
}
.link-home-container {
  width: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header-social-media {
  color: var(--color-lightslategray);
  display: inline-block;
  min-width: 12px;
}
.strong-thank {
  width: 144px;
  position: relative;
  line-height: 28px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.divbg-light,
.link-home-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.divbg-light {
  background-color: #f8f9fa;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 15.5px var(--padding-386xl) 26.799999999999272px;
  gap: var(--gap-5xs-5);
  flex-shrink: 0;
  debug_commit: 2554057;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-mediumturquoise-100);
}
.link-home-parent {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 122.90000000000146px;
  box-sizing: border-box;
  gap: 21.799999999999272px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
.header-login1 {
  margin: 0;
  width: 85.9px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 85.9px;
}
.header-login-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 4.200000000000728px var(--padding-12xs);
}
.form-input {
  border: 1px solid var(--color-gainsboro);
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 60px;
  position: relative;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  min-width: 214px;
}
.enter-your-email,
.enter-your-password {
  font-size: var(--font-size-mid);
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: left;
}
.enter-your-password {
  width: 173.1px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}
.enter-your-email {
  position: absolute;
  margin: 0 !important;
  top: -62.8px;
  left: 16px;
}
.confirm-password-input,
.form-input1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-input1 {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-base);
  position: relative;
}
.confirm-password-input {
  flex-direction: column;
  gap: 20.799999999999272px;
}
.form-link {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-seagreen);
  text-align: left;
}
.form-input-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6.400000000001455px;
}
.login1 {
  width: 56.7px;
  position: relative;
  font-size: var(--font-size-lgi-2);
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 56.7px;
}
.divplaceholder,
.form-input2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.form-input2 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-base-5) var(--padding-xl) var(--padding-base-5)
    var(--padding-10xl);
  background-color: var(--color-seagreen);
  border-radius: var(--br-7xs);
  flex-direction: row;
  justify-content: center;
}
.form-input2:hover,
.form-input6:hover {
  background-color: var(--color-lightseagreen-200);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.divplaceholder {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21.799999999999272px;
}
.signup {
  color: var(--color-seagreen);
}
.dont-have-an-container {
  flex: 1;
  position: relative;
}
.login-input-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 45.50000000000006px 0 var(--padding-28xl);
  font-size: var(--font-size-mid);
}
.divcontainer,
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divcontainer {
  align-self: stretch;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  align-items: flex-end;
  padding: var(--padding-14xl) var(--padding-13xl) 113.40000000000146px;
  gap: 21.799999999999272px;
}
.footer-container {
  width: 421px;
  align-items: flex-start;
  padding: var(--padding-9xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.header-login2 {
  margin: 0;
  width: 156px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  white-space: pre-wrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.header-login-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.form-input3 {
  border: 1px solid var(--color-gainsboro);
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 60px;
  position: relative;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  min-width: 214px;
}
.enter-your-email1,
.enter-your-password1 {
  font-size: var(--font-size-mid);
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: left;
}
.enter-your-password1 {
  width: 173.1px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}
.enter-your-email1 {
  position: absolute;
  margin: 0 !important;
  top: -62.8px;
  left: 16px;
}
.form-input-parent,
.form-input4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-input4 {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-base);
  position: relative;
}
.form-input-parent {
  flex-direction: column;
  gap: 20.799999999999272px;
}
.divplaceholder1,
.form-input5,
.frame-parent8,
.frame-parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divplaceholder1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
  min-width: 195px;
}
.form-input5,
.frame-parent8,
.frame-parent9 {
  align-self: stretch;
}
.form-input5 {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  flex-direction: row;
  padding: 17px 15px;
}
.frame-parent8,
.frame-parent9 {
  flex-direction: column;
  gap: 26.200000000000728px;
}
.frame-parent8 {
  align-items: flex-end;
  gap: 36px;
}
.form-input6,
.login2 {
  display: flex;
  justify-content: center;
}
.login2 {
  width: 56.7px;
  position: relative;
  font-size: var(--font-size-lgi-2);
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 56.7px;
}
.form-input6 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-base-5) var(--padding-xl) var(--padding-base-5)
    var(--padding-10xl);
  background-color: var(--color-seagreen);
  align-self: stretch;
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: flex-start;
}
.already-have-account {
  color: var(--color-black);
}
.login3 {
  color: var(--color-seagreen);
}
.already-have-account-container {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mid);
  font-family: var(--font-poppins);
  text-align: center;
}
.sub-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 45.30000000000001px 0 var(--padding-28xl);
}
.divcontainer1 {
  margin: 0;
  width: 421px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-13xl) var(--padding-55xl);
  box-sizing: border-box;
  gap: 53px;
  max-width: 100%;
}
.list-item-link,
.symbol-symbol {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.list-item-link {
  width: 1206px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.symbol-symbol {
  width: 1886px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.email-input-icon,
.heading-39 {
  position: relative;
  flex-shrink: 0;
}
.email-input-icon {
  align-self: stretch;
  height: 4px;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.heading-39 {
  line-height: 23.04px;
  font-weight: 500;
  display: inline-block;
  min-width: 84.9px;
  debug_commit: 2554057;
}
.india-largest-pharmacy1,
.india-with-in1,
.satyam-in-20181,
.satyam-pharmacy-started1 {
  margin: 0;
}
.satyam-pharmacy-started-container1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27.2px;
  font-weight: 300;
  color: var(--color-lightslategray);
  flex-shrink: 0;
  debug_commit: 2554057;
}
.about-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23.900000000001455px;
}
.heading-310 {
  position: relative;
  font-size: var(--font-size-lgi-2);
  line-height: 23.04px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  min-width: 114.8px;
  white-space: nowrap;
}
.list-item6,
.list-item7 {
  height: 13.3px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.list-item6 {
  position: relative;
  line-height: 27.2px;
  font-weight: 300;
  min-width: 82.1px;
}
.list-item7 {
  min-width: 72px;
}
.list-item7,
.list-item8,
.list-item9 {
  position: relative;
  line-height: 27.2px;
  font-weight: 300;
}
.list-item8 {
  height: 13.3px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 62.6px;
}
.list-item9 {
  display: inline-block;
  min-width: 52.7px;
}
.social-media-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-115xl) 0 0;
  gap: 23.900000000000546px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.heading-311 {
  position: relative;
  line-height: 23.04px;
  font-weight: 500;
  display: inline-block;
  min-width: 116px;
}
.symbol3 {
  align-self: stretch;
}
.symbol3,
.symbol4,
.symbol5 {
  height: 20px;
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.symbol4 {
  width: 15.9px;
}
.symbol5 {
  align-self: stretch;
}
.contact-list,
.satyam-complex-ranip1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.satyam-complex-ranip1 {
  align-self: stretch;
  gap: var(--gap-lgi);
}
.contact-list {
  width: 20.2px;
  gap: var(--gap-24xl);
}
.ahmedabad-gujarat-india1,
.satyam-complex-ranip2 {
  margin: 0;
}
.list-item-container1,
.list-item10,
.list-item11 {
  position: relative;
  line-height: 24px;
  font-weight: 300;
}
.list-item10 {
  color: var(--color-dimgray);
  display: inline-block;
  min-width: 94.9px;
}
.list-item11 {
  white-space: nowrap;
}
.list-item-5satyam-complex-parent {
  flex: 1;
  flex-direction: column;
  gap: 15.25px;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-rubik);
}
.contact-info,
.contact-list-parent,
.list-item-5satyam-complex-parent,
.login-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-list-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 9.799999999999995px;
  font-size: var(--font-size-xl);
  color: var(--color-mediumturquoise-100);
  font-family: var(--font-inter);
}
.contact-info,
.login-button {
  width: 253px;
  flex-direction: column;
  gap: var(--gap-4xl-5);
}
.login-button {
  width: 1108px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.forgot-password-link,
.password-input {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.forgot-password-link {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.password-input {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 31.200000000000728px;
  gap: 28px;
  text-align: left;
  font-size: var(--font-size-lgi-2);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
.satyam-pharmacy1 {
  color: var(--color-mediumturquoise-100);
}
.copyright-2024-container3 {
  width: 100%;
}
.copyright-2024-container2 {
  width: 632.9px;
  position: relative;
  line-height: 27.2px;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.footer-logo,
.login {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.footer-logo {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  max-width: 100%;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: 20.799999999999272px 0 15.899999999997815px;
  gap: 100px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
  font-family: var(--font-rubik);
}
@media screen and (max-width: 1025px) {
  .divbg-light {
    padding-left: var(--padding-183xl);
    padding-right: var(--padding-183xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .input-email {
    display: none;
  }
  .input-password {
    width: 17.299999999999955px;
  }
  .header-login1,
  .header-login2 {
    font-size: var(--font-size-7xl);
  }
  .list-item-link,
  .login-button {
    flex-wrap: wrap;
  }
  .login {
    gap: 50px 100px;
  }
}
@media screen and (max-width: 725px) {
  .divbg-light {
    padding-left: var(--padding-82xl);
    padding-right: var(--padding-82xl);
    box-sizing: border-box;
  }
  .divcontainer,
  .divcontainer1 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-55xl);
    box-sizing: border-box;
  }
  .divcontainer1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-29xl);
  }
  .login {
    gap: 25px 100px;
  }
}
@media screen and (max-width: 450px) {
  .divbg-light {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .header-login1 {
    font-size: var(--font-size-lgi);
  }
  .login-input-label {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .header-login2 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent8 {
    gap: 18px 36px;
  }
  .sub-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .divcontainer1 {
    gap: 26px 53px;
  }
  .symbol3,
  .symbol4,
  .symbol5 {
    font-size: var(--font-size-base);
    line-height: 16px;
  }
}
